<footer>
    <div id="footer_content">
      <div id="footer_contacts">
        <i id="logo"><img class="img" src="../../../assets/img/logoCnome.png"></i>
        <div id="footer_social_media">
          <a href="#" class="footer-link" id="instagram">
            <i class="fa-brands fa-instagram"><img src="../../../assets/img/logo-instagram.png"></i>
          </a>
          <a href="#" class="footer-link" id="facebook">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </div>
      </div>
      <ul class="footer-list">
        <li>
          <a class="text" routerLink="/video">Aulas e Cursos</a>
        </li>
      </ul>
      <ul class="footer-list">
        <li>
          <a class="text" routerLink="/news">Informações e Noticias</a>
        </li>
      </ul>
      <div id="footer_subscribe">
        <h3>Registre-se</h3>
        <p>
          Registre-se no site e desfrute de todo o conteúdo
        </p>
      </div>
    </div>
    <div id="footer_copyright">
      &#169; 2023 CriptoFTs Productions
    </div>
  </footer>