@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

main {
  height: 80vh;
}

footer {
  width: 100%;
  color: rgb(255, 255, 255);
  flex: 1 1 auto;
  text-decoration: none;
}

img{
  max-height: 2.5rem;
  max-width: 2.5rem;
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: #333333;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  flex-direction: column-reverse;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background-color: white;
}

#facebook {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/facebook/facebook-original.svg");
  background-color: #4267b3;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer-list.footer-link {
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: #333333;
  font-size: 0.9rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}

#logo > .img{
  max-width: 10rem;
  max-height: 10rem;
  float: inline-start;
  padding-right: 1rem;
}