<header>
  <section>
    <div class="itens">
      <a class="logo">
        <i
          ><img
            class="logo"
            src="../../../assets/img/logoSnome.png"
            width="50"
            alt="logo do site"
        /></i>
      </a>
      <a class="navbar-text" routerLink="/home">Home</a>
      <a class="navbar-text" routerLink="/news">Noticias</a>
      <a class="navbar-text" routerLink="/videos">Aulas</a>
      <span class="example-spacer"></span>
    </div>
    <div *ngIf="login" class="user">
      <a class="navbar-text usuario" routerLink="/user">Usuario</a>
    </div>
  </section>
</header>
