header{
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: left;
  background-color: yellow;
    section{
      div > * {
        margin-right: 2rem;
      }
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
   div{
   margin: 1rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
  }


}
