<div class="videos-grid">
    <h2 class="curso-titulo">
      Cursos
    </h2>
    <div class="video-col">
      <iframe width="300px" height="200px" src="https://www.youtube.com/embed/video1" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-col">
      <iframe width="300px" height="200px" src="https://www.youtube.com/embed/video2" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-col">
      <iframe width="300px" height="200px" src="https://www.youtube.com/embed/video3" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-col">
      <iframe width="300px" height="200px" src="https://www.youtube.com/embed/video3" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  
  <div class="videos-grid">
    <h2 class="curso-titulo">
      Aulas
    </h2>
    <div class="video-col">
      <iframe width="300px" height="200px" src="https://www.youtube.com/embed/video1" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-col">
      <iframe width="300px" height="200px" src="https://www.youtube.com/embed/video2" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-col">
      <iframe width="300px" height="200px" src="https://www.youtube.com/embed/video3" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-col">
      <iframe width="300px" height="200px" src="https://www.youtube.com/embed/video3" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>