.paginaSignin {
  display: flex;
  justify-content: space-between;
  border: 2px solid #6d6c6c;
  background-color: #fff;
  width: 1080px;
  height: 600px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 315px;
  max-height: 600px;
  margin: 0 auto;
  gap: 20px;
}

form h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.entradas {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.entradas input {
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 20px;
  border: 2px solid #6d6c6c;
}

button {
  background-color: #3f82f7;
  color: #fff;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.textos {
  font-size: 14px;
}

.imagem img {
  width: 600px;
}

app-mensage {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: red;
}
