<form class="form mt-4" [formGroup]="newUserForm" (submit)="signin()">
  <div class="form-group">
    <input
      placeholder="Usuário"
      class="form-control"
      formControlName="userName"
    />
    <app-mensage
      *ngIf="
        newUserForm.get('userName')?.errors?.['required'] &&
        newUserForm.get('userName')?.touched
      "
      mensagem="Usuário é obrigatório"
    >
    </app-mensage>
    <app-mensage
      *ngIf="
        newUserForm.get('userName')?.errors?.['minusculo'] &&
        newUserForm.get('userName')?.touched
      "
      mensagem="Usuário deve ser em letra minúscula"
    >
    </app-mensage>
    <app-mensage
      *ngIf="newUserForm.get('userName')?.errors?.['usuarioExistente']"
      mensage="Usuário já existe"
    ></app-mensage>
  </div>
  <div class="form-group">
    <input placeholder="E-mail" class="form-control" formControlName="email" />
    <app-mensage
      *ngIf="
        newUserForm.get('email')?.errors?.['required'] &&
        newUserForm.get('email')?.touched
      "
      mensage="E-mail obrigatório"
    >
    </app-mensage>
    <app-mensage
      *ngIf="
        newUserForm.get('email')?.errors?.['email'] &&
        newUserForm.get('email')?.touched
      "
      mensage="E-mail incorreto."
    >
    </app-mensage>
  </div>

  <div class="form-group">
    <input
      type="password"
      placeholder="Senha"
      class="form-control"
      formControlName="password"
    />
    <div *ngIf="newUserForm.get('password')?.invalid && newUserForm.get('password')?.touched">
      <app-mensage *ngIf="newUserForm.get('password')?.errors?.['required']"
        mensage="Senha é obrigatória."></app-mensage>
      <app-mensage *ngIf="newUserForm.get('password')?.errors?.['minlength']"
        mensage="Senha deve ter no mínimo 6 caracteres."></app-mensage>
      <app-mensage *ngIf="newUserForm.get('password')?.errors?.['maxlength']"
        mensage="Senha deve ter no máximo 20 caracteres."></app-mensage>
      <app-mensage *ngIf="newUserForm.errors?.['senhaIgualUsuario']" mensagem="Senha deve ser diferente do usuário.">
      </app-mensage>
      <app-mensage *ngIf="newUserForm.get('password')?.hasError('semCaracterEspecial')"
        mensage="A senha deve conter pelo menos um caracter especial.">
      </app-mensage>
      <app-mensage *ngIf="newUserForm.get('password')?.hasError('semLetraMaiuscula')"
        mensage="A senha deve conter pelo menos uma letra maiúscula.">
      </app-mensage>
      <app-mensage *ngIf="newUserForm.get('password')?.hasError('semNumero')"
        mensage="A senha deve conter pelo menos um número.">
      </app-mensage>
      </div>
  </div>
  <div class="form-group">
    <input
      type="password"
      placeholder="Confirmar Senha"
      class="form-control"
      formControlName="repassword"
    />
    <app-mensage *ngIf="newUserForm.get('repassword')?.hasError('senhasDiferentes')"
      mensage="As senhas devem ser iguais.">
    </app-mensage>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="!newUserForm.valid">Cadastrar</button>
</form>

<p>Já é um usuário? <a [routerLink]="['']"> Faça Login</a></p>
