<div class="paginaSignin">
  <form class="form" [formGroup]="resetPasswordForm" (submit)="ResetPassword()">
    <h1>Insira a nova senha</h1>
    <div class="entradas">
      <label class="text" for="">E-mail</label>
      <input
        placeholder="Insira um E-mail"
        class="form-control"
        formControlName="email"
      />
      <app-mensage
        *ngIf="
        resetPasswordForm.get('email')?.errors?.['required'] &&
        resetPasswordForm.get('email')?.touched
      "
        mensage="E-mail obrigatório"
      >
      </app-mensage>
      <app-mensage
        *ngIf="
        resetPasswordForm.get('email')?.errors?.['email'] &&
        resetPasswordForm.get('email')?.touched
      "
        mensage="E-mail incorreto."
      >
      </app-mensage>
    </div>
    <div class="entradas">
      <label class="text" for="">Senha</label>
      <input
        type="password"
        placeholder="Insira uma senha"
        class="form-control"
        formControlName="password"
      />
      <div
        *ngIf="
          resetPasswordForm.get('password')?.invalid &&
          resetPasswordForm.get('password')?.touched
        "
      >
        <app-mensage
          *ngIf="resetPasswordForm.get('password')?.errors?.['required']"
          mensage="Senha é obrigatória."
        ></app-mensage>
        <app-mensage
          *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']"
          mensage="Senha deve ter no mínimo 6 caracteres."
        ></app-mensage>
        <app-mensage
          *ngIf="resetPasswordForm.get('password')?.errors?.['maxlength']"
          mensage="Senha deve ter no máximo 20 caracteres."
        ></app-mensage>
        <app-mensage
          *ngIf="resetPasswordForm.errors?.['senhaIgualUsuario']"
          mensagem="Senha deve ser diferente do usuário."
        >
        </app-mensage>
        <app-mensage
          *ngIf="resetPasswordForm.get('password')?.hasError('semCaracterEspecial')"
          mensage="A senha deve conter pelo menos um caracter especial."
        >
        </app-mensage>
        <app-mensage
          *ngIf="resetPasswordForm.get('password')?.hasError('semLetraMaiuscula')"
          mensage="A senha deve conter pelo menos uma letra maiúscula."
        >
        </app-mensage>
        <app-mensage
          *ngIf="resetPasswordForm.get('password')?.hasError('semNumero')"
          mensage="A senha deve conter pelo menos um número."
        >
        </app-mensage>
      </div>
    </div>
    <div class="entradas">
      <label class="text" for="">Confirmar Senha</label>
      <input
        type="password"
        placeholder="Confirme a nova Senha"
        class="form-control"
        formControlName="repassword"
      />
      <app-mensage
        *ngIf="resetPasswordForm.get('repassword')?.hasError('senhasDiferentes')"
        mensage="As senhas devem ser iguais."
      >
      </app-mensage>
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-block"
      [disabled]="!resetPasswordForm.valid"
    >
      Alterar
    </button>
  </form>
  <div class="imagem">
    <img src="../../../../assets/img/FTCrypto.png" alt="Imagem" />
  </div>
</div>
