<section>
  <article>
      <ul>
        <li *ngFor="let moeda of criptoMoedas">
          <img class="icone" src="{{ moeda.iconUrl }}" alt="icone das moedas" />
          <div class="texto">
            <p>{{ moeda.symbol }}</p>
            <p
              [ngClass]="{
                negativo: moeda.change < 0,
                positivo: moeda.change >= 0
              }"
            >
              {{ moeda.change }}%
            </p>
          </div>
        </li>
      </ul>
      <ul>
        <li *ngFor="let moeda of criptoMoedas">
          <img class="icone" src="{{ moeda.iconUrl }}" alt="icone das moedas" />
          <div class="texto">
            <p>{{ moeda.symbol }}</p>
            <p
              [ngClass]="{
                negativo: moeda.change < 0,
                positivo: moeda.change >= 0
              }"
            >
              {{ moeda.change }}%
            </p>
          </div>
        </li>
      </ul>
  </article>
</section>
