$animationSpeed: 30s;
$itemWidth: 150px;
$itemCount: 30;

p{
  margin: 0;
}

.texto {
  font-size: 15px;
}
.icone {
  width: 30px;
}
.negativo {
  color: red;
  font-weight: 600;
}
.positivo {
  color: green;
  font-weight: 600;
}

// Styling
li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: black;
  min-width: 150px;
  max-width: 150px;
  height: 50px;
	overflow:hidden;
}

section {
  overflow: hidden;
}

article {
  width: calc($itemWidth * $itemCount * 2);
  transition: 1s all cubic-bezier();
  display: flex;
  animation: bannermove $animationSpeed linear infinite;
}

div {
  width: 100%;
}

ul {
  background-color: white;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
