main {
  height: 100%;
  color: black;
  background-color: white;
  border-radius: .25rem;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 2rem;
}

// main{
//   min-width: 500px;
//   justify-content: center;
//   display: flex;
//   margin: 2rem;
//   max-height: 70vh;
//   min-height: 50vh;
//   border-radius: 25px;
// background: linear-gradient(145deg, #cacaca, #f0f0f0);
// box-shadow:  20px 20px 60px #bebebe,
//              -20px -20px 60px #ffffff;
// }
