main {
  background-color: #031018;
  height: 100%;
  padding: 0 50px 50px 50px;
}

// main{
//   min-width: 500px;
//   justify-content: center;
//   display: flex;
//   margin: 2rem;
//   max-height: 70vh;
//   min-height: 50vh;
//   border-radius: 25px;
// background: linear-gradient(145deg, #cacaca, #f0f0f0);
// box-shadow:  20px 20px 60px #bebebe,
//              -20px -20px 60px #ffffff;
// }
