<div class="paginaSignin">
  <form class="form " [formGroup]="resetPasswordRequestForm" (submit)="resetPasswordRequest()">
    <h1>Insira seu e-mail</h1>
    <div class="entradas">
      <label class="text" for="">E-mail</label>
      <input
        type="email"
        placeholder="...@"
        class="form-control"
        formControlName="email"
      />
      <app-mensage
        *ngIf="resetPasswordRequestForm.get('email')?.hasError('email')"
        mensage="Insira um email valido!"
      >
      </app-mensage>
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-block"
      [disabled]="!resetPasswordRequestForm.valid"
    >
      Enviar
    </button>
  </form>

  <div class="imagem">
    <img src="../../../../assets/img/FTCrypto.png" alt="Imagem" />
  </div>
</div>
