<form class="form mt-4" (ngSubmit)="login()" [formGroup]="loginForm">
  <div class="example-full-width" >
    <label class="text">Usuário</label>
    <input matInput formControlName="userName" placeholder="Siclano Beltrano"
      name="usuario">
    <div ></div>
  </div>
  <div class="example-full-width" >
    <label class="text">Senha</label>
    <input type="password" matInput formControlName="senha" placeholder="**********" name="password">
    <div *ngIf="loginForm.get('userName')?.errors?.['required']">
      Campo <strong>OBRIGATORIO</strong>
    </div>
  </div>
  <app-recaptcha [config]="captchaConfig" ></app-recaptcha>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
      Logar
    </button>
  <p><span> Não é um usuário ? <a [routerLink]="['novousuario']">Cadastre-se!</a></span></p>
  <p><span> Esqueceu sua senha ? <a [routerLink]="['solicitar-reset-senha']">Esqueci minha senha!</a></span></p>
</form>

