<div class="crypto-info">
  <div class="column">
    <div class="section-header">Moeda em Destaque</div>
    <div class="info-item">Bitcoin (BTC) - {{ cryptoInfo.bitcoinPrice }}</div>
    <div class="info-item">Exemplo 1 - {{ cryptoInfo.example1Price }}</div>
    <div class="info-item">Exemplo 2 - {{ cryptoInfo.example2Price }}</div>
  </div>

  <div class="column">
    <div class="section-header">Moeda com Maior Alta</div>
    <div class="info-item">Ethereum (ETH) - {{ cryptoInfo.ethereumPrice }}</div>
    <div class="info-item">Exemplo 3 - {{ cryptoInfo.example3Price }}</div>
    <div class="info-item">Exemplo 4 - {{ cryptoInfo.example4Price }}</div>
  </div>

  <div class="column">
    <div class="section-header">Moeda com Maior Volume</div>
    <div class="info-item">Binance Coin (BNB) - {{ cryptoInfo.binanceCoinPrice }}</div>
    <div class="info-item">Exemplo 5 - {{ cryptoInfo.example5Price }}</div>
    <div class="info-item">Exemplo 6 - {{ cryptoInfo.example6Price }}</div>
  </div>
</div>

<h1 class="h1">Aulas e Cursos</h1>
<div class="video-section">
  <div class="video-item">Video 1 (Exemplo)</div>
  <div class="video-item">Video 2 (Exemplo)</div>
  <div class="video-item">Video 3 (Exemplo)</div>
  <div class="video-item">Video 4 (Exemplo)</div>
  <div class="video-item">Video 5 (Exemplo)</div>
  <div class="video-item">Video 6 (Exemplo)</div>
</div>
<h1 class="h1">Informações e Noticias</h1>
<div class="news-section">
  <div class="news-item">Notícia 1 (Exemplo)</div>
  <div class="news-item">Notícia 2 (Exemplo)</div>
  <div class="news-item">Notícia 3 (Exemplo)</div>
  <div class="news-item">Notícia 4 (Exemplo)</div>
  <div class="news-item">Notícia 5 (Exemplo)</div>
  <div class="news-item">Notícia 6 (Exemplo)</div>
</div>