
.crypto-info {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
  
.column {
	flex: 1;
	border: 1px solid #ccc;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #FF9800;
	margin-right: 5px;
	margin-left: 5px;
}
  
.section-header {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
  
.info-item {
	margin-bottom: 8px;
}
  
.video-section, .news-section {
	display: flex;
	overflow-x: auto;
	margin-top: 20px;
}
  
.video-item, .news-item {
	flex: 0 0 auto;
	width: 300px;
	height: 200px;
	border: 1px solid #ccc;
	margin-right: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 16px;
	background-color: #FF9800;
}

.h1 {
	margin-top: 16px;
	font-size: 20px;
	font-weight: bold;
}