.cards{
  padding: 2rem;
}

.img{
  object-fit: cover;
  width: 100vw;

  object-position: center;
}


.img-nft {
  width: 100vw;

  object-fit: scale-down;
  object-position: center;
    background-color: #FFDED4;
}
