<div>
    <a>
      <i><img class="logo" src="../../../assets/img/logoSnome.png" alt="logo do site"></i>
    </a>
    <a class="navbar-text" routerLink="/home">Home</a>
    <a class="navbar-text" routerLink="/news">Noticias</a>
    <a class="navbar-text" routerLink="/video">Aulas</a>
    <span class="example-spacer"></span>
    <ng-template #login>
        <a class="navbar-text" routerLink="/login">Login</a>
        <a class="navbar-text" routerLink="/user">Perfil</a>
    </ng-template>
</div>
  
  