.container {
  background-color: #79a8ae;
  padding-bottom: 15px;
}

.crypto-roulette{
  background-color: #285463;
  width: 100%;
  height: 30px;
}

.banner-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

h2{
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-left: 5px;
}

.courses-carousel {
  display: flex;
  overflow-x: auto;
}

.video-preview {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  margin-right: 10px;
  transition: transform 0.3s ease;
  text-decoration: double;
  text-transform: none;
}

.video-preview:hover {
  transform: translateY(-5px);
}

.video-thumbnail {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #333;
  text-align: center;
}

.news-carousel {
  display: flex;
  overflow-x: auto;
}

.news-item {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  margin-right: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.news-item:hover {
  transform: translateY(-5px);
}

.news-item a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
}

.news-item h3 {
  margin: 0;
}

.news-item p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.4;
  color: #666;
}

.scroll-button {
  background: none;
  border: none;
  font-size: 40px;
  color: #333;
  cursor: pointer;
  z-index: 1;
  padding: 15px;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.videos-container,
.news-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
