<section class="mt-4 pt-5">
  <article>
    <div class="px-4 text-center border-bottom">
      <h1 class="display-4 fw-bold text-body-emphasis">Bem vindo ao <b class="text-primary">CryptoFT</b></h1>
  <p>
    O melhor lugar para analisar o mercado de CriptoMoedas e NFT's
  </p>
      <div class="col-lg-6 mx-auto">
          <h5 class="card-title text-danger">Conheça sobre o BitCoin</h5>
          <p class="card-text text-warning">A primeira CriptoMoeda do mundo</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Saber Mais
          </button>
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 50vh;">
        <div class="container px-5">
          <img src="../../../assets/img/bitcoinPn.png" class="img-fluid mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>
  </article>
</section>
