<section>
  <h1>Bem Vindo ao CriptoFT</h1>
  <p>
    O melhor lugar para analisar o mercado de CriptoMoedas e NFT's
  </p>
  <article>
    <div class="card">
      <div class="card-header">
        Atualização
      </div>
      <div class="card-body">
        <h5 class="card-title">Conheça sobre BitCoin</h5>
        <p class="card-text">A primeira CriptoMoeda e seu futuro</p>
        <a href="#" class="btn btn-primary">Saber Mais</a>
      </div>
    </div>
    <span class="placeholder col-6"></span>
<span class="placeholder w-75"></span>
<span class="placeholder" style="width: 25%;"></span>
  </article>
</section>
