<section>
  <h1>Bem Vindo ao CriptoFT</h1>
  <p>
    O melhor lugar para analisar o mercado de CriptoMoedas e NFT's
  </p>
  <article>
    <div class="card">
      <div class="card-header">
        Atualização
      </div>
      <div class="card-body d-flex justify-content-left">
        <div class="me-4">
          <h5 class="card-title">Conheça sobre BitCoin</h5>
          <p class="card-text">A primeira CriptoMoeda e seu futuro</p>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Saber Mais
        </button>
        <img src="../../../assets/img/bitcoin.png" height="50" width="50" alt="">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="placeholder col-6"></span>
<span class="placeholder w-75"></span>
<span class="placeholder" style="width: 25%;"></span>
  </article>
</section>
